@tailwind base;
@tailwind components;
@tailwind utilities;

.bgvideo {
    z-index: -1;
    filter: brightness(70%);
}

.animatedText {
    background: linear-gradient(145deg,
            #a82121 20%,
            #c00202 30%,
            #ff3030 70%,
            #a81515 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 3s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}